.carddiv {
  gap: 0.7rem;
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  width: 9rem;
  height: 3.5rem;
  background-color: transparent;
  border-radius: 1rem;
  border: solid;
  color: rgb(219, 225, 225);
  font-size: 22px;
}
