.page {
  display: grid;
  width: 500px;
  height: 600px;
  grid-template-columns: auto auto auto auto;
  padding: 100px;
  column-gap: 10px;
  row-gap: 30px;
  grid-auto-rows: min-content;
}

.divcheckedon {
  padding: 2px;
  width: 205px;
  height: 260px;
  flex-shrink: 0;
  border: 2px solid #2855ff;
  background: #fff;
}
.divcheckedof {
  padding: 2px;
  width: 205px;
  height: 260px;
  border: 2px solid #d3cfcf;
  background: #fff;
}

.img {
  border: 4px solid #dedfe8;
  background-size: cover;
  width: auto;
  height: 180px;
  flex-shrink: 0;
}
.name {
  text-align: left;
  padding: 10px;
  display: flex;
  width: 180px;
  height: auto;
  flex-direction: column-reverse;
  flex-shrink: 0;
  color: #232968;
  font-size: 14px;
  font-family: Roboto;
  line-height: 20px;
}
.price {
  padding: 5px;
  color: #232968;
  font-size: 16px;
  font-family: initial;
  font-weight: 600;
}
.inputbox {
  display: flex;
  position: fixed;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.notfound {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 500px;
}
.check {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
