.general {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  overflow: hidden;
  background-color: rgba(169, 163, 163, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card {
  align-items: center;
  border-radius: 15px;
  display: flex;
  flex-shrink: 0;
  padding: 15px;
  position: fixed;
  top: 200px;
  gap: 25px;
  width: 500px;
  height: 350px;
  background-color: rgba(138, 136, 136, 0.927);
}
.button {
  gap: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
}
.cardinput {
  width: 150px;
  height: 50px;
  border-radius: 15px;
  box-shadow: 10px 5px 5px black;
  width: 300px;
}
input:required {
  border: 1px solid green;
}
input:required:invalid {
  border: 2px solid red;
}

.signin {
  border-radius: 15px;
  width: 300px;
  height: 40px;
}
.signiindiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 450px;
  height: 400px;
}
.logincard {
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  display: flex;
  flex-shrink: 0;
  padding: 10px;
  position: fixed;
  top: 80px;
  gap: 15px;
  width: 400px;
  height: 300px;
  background-color: rgba(138, 136, 136, 0.927);
}

.changefood {
  border: none;
  gap: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 270px;
  height: 80px;
}
.yes,
.no {
  border-radius: 15px;
  width: 60px;
  height: 40px;
}
.yes {
  background-color: green;
}
.no {
  background-color: red;
}
/* .main {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
} */

.loginform {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  width: 140px;
}
.editdiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: auto;
}
