.card {
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  display: flex;
  position: fixed;
  top: 8rem;
  width: 25rem;
  height: 25rem;
  background-color: rgba(138, 136, 136, 0.927);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 14rem;
}

.cardinput {
  height: 2.5rem;
  box-shadow: 10px 5px 5px black;
  width: 14rem;
}

input:required {
  border: 1px solid rgb(19, 75, 19);
}

input:required:invalid {
  border: 2px solid red;
}

.signupbox {
  gap: 0.7rem;
}

.logincard {
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  position: fixed;
  top: 5rem;
  width: 25rem;
  height: auto;
  padding: 1rem;
  background-color: rgba(138, 136, 136, 0.927);
}

.changefood {
  border: none;
  gap: 0.7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 16.5rem;
  height: 5rem;
}

.yes,
.no {
  width: 3.5rem;
  height: 2.5rem;
}

.yes {
  background-color: green;
}

.no {
  background-color: red;
}

/* .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25rem;
  height: 25rem;
} */

.loginform {
  gap: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  width: 9rem;
}

.editdiv {
  gap: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20rem;
  height: auto;
}



.newUserModal {
  width: 30rem;
  height: 30rem;
  gap: 1rem;
}

.userBalance {
  padding: 2rem;
  gap: 2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pricebutton {
  width: 2rem;
}

.priceBlock {
  gap: 1rem;
}

.basketCard {
  border-radius: 25%;
  width: 25rem;
  height: 3rem;
  background-color: rgb(70, 61, 61);
}

.form {
  color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
}

.totalPrice {
  border-radius: 25%;
  background-color: rgb(184, 217, 184);
}