.header {
  height: 4rem;

  background-color: rgb(142, 142, 142);
}
.admin2 {
  display: flex;
  justify-content: space-between;
}

.inputs {
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  display: flex;
  width: 37.5rem;
  height: 4rem;
}
.login,
.password {
  border-color: rgb(142, 142, 142);
  width: 12.5rem;
  height: 2rem;
}

.password:hover {
  border: none;
}
.login:hover {
  border: none;
}
