.adminmodal {
  gap: 0.7rem;
}
.adminprofile {
  width: 10rem;
  height: 4.5rem;
  border-radius: 40%;
  -moz-border-radius: 40%;
  -webkit-border-radius: 40%;
  -khtml-border-radius: 10%;
}
.adminphoto {
  border: 2px solid green;
  width: 3rem;
  height: 5rem;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  background-size: cover;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpO021JSRZOa1_9zbzFR0tK7wRD3xoxnd9Ad3v26DksTiwfpIQLV8vMEbHpbZoZZOxpHc&usqp=CAU");
}
.userDrop {
  display: flex;
  position: fixed;
  gap: 20px;
  padding-right: 200px;
}
.dropdown {
  position: relative;
}
.info {
  background-color: #17a2b8;
  width: 3rem;
  height: 2rem;
  border-radius: 25%;
  border: none;
}
.menu {
  position: absolute;
  list-style-type: none;
  padding: 0;
  border: 1px solid grey;
  background-color: aquamarine;
  width: 9rem;
}

.menu > li {
  background-color: aquamarine;
}

.menu > li:hover {
  background-color: lightgray;
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;
  background: none;
  color: inherit;
  border: none;
  padding: 1rem;
  margin: 0;
  font: inherit;
  cursor: pointer;
}
